.mapboxgl-popup {
  background-color: blue !important;
}

.mapboxgl-popup .mapboxgl-popup-content p {
  color: red !important;
}

.marker {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 500;
}
