<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FUTA</ion-title>
    <ion-searchbar slot="end" placeholder-opacity="0px" type="text" show-clear-button="never"></ion-searchbar>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div>
      <img src="assets/New folder/Dashboard.jpg">
    </div> 
   
    <div>
      

   </div>
    
  
 
  
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Home">
          <ion-icon color="tertiary" name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="Map">
          <ion-icon color="tertiary" name="location"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="Event">
          <ion-icon color="tertiary" name="chatbox-ellipses"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="More">
          <ion-icon color="tertiary" name="ellipsis-horizontal"></ion-icon>
        </ion-tab-button>
      
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
