<ion-header color="primary">
  <ion-toolbar>
    <ion-title>explore</ion-title>
    <ion-button routerLink="/tabs/events/create-event"
      class="ion-no-padding"
      slot="end"
      fill="clear"
      shape="round">
      <ion-icon class="ion-padding-end"
        name="add-outline"
        slot="end"></ion-icon>
      Add Event
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
  *ngIf="events$ | async as events; else loading">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="
          let
          event
          of
          events"
          class="flex">
          <div class="w-10 h-full overflow-hidden bg-red-600">
            <!-- <img src="{{event.fileURL}}"
              class="shadow rounded-lg overflow-hidden border"> -->
          </div>
          <div>
            <ion-card-header>
              <ion-card-title>{{ event.eventName }}</ion-card-title>
              <div class="ion-align-items-center flex gap-2 mt-2">
                <ion-icon name="location-outline"
                  slot="start"></ion-icon>
                <ion-card-subtitle>{{ event.eventLocation}}</ion-card-subtitle>
              </div>
            </ion-card-header>

            <ion-card-content>
              <p>{{ event.eventDate?.toDate() | date}} - <span>10:00PM</span></p>
              {{event.eventDescription}}
            </ion-card-content>

            <ion-button fill="clear">
              <ion-icon slot="start"
                name="thumbs-up-outline"></ion-icon>
              20
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="start"
                name="bookmark-outline"></ion-icon>
              12
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #loading>
  <p>Loading events...</p>
</ng-template>
