<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">events</ion-title>
    </ion-toolbar>
  </ion-header>

  <iframe width="90%" height="90%" src="https://www.openstreetmap.org/export/embed.html?bbox=5.137374401092529%2C7.30209989084162%2C5.1412367820739755%2C7.305515902939186&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/7.30381/5.13931">View Larger Map</a></small>
</ion-content>
