<link rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.css"
  type="text/css">

<link href="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.css"
  rel="stylesheet">

<ion-content scrollY="false">
  <!-- <ion-input type="text"
    [(ngModel)]="message"
    placeholder="Your message"></ion-input> -->
  <div class="flex">
    <!-- <div>

      <ion-title>Markers</ion-title>

      <div *ngFor="let maker of markers">
        <ion-button (click)="flyTo(maker)">{{ maker.properties.message }}</ion-button>
        <ion-button (click)="removeMarker(maker.id)"
          color="danger">delete</ion-button>
      </div>
    </div> -->

    <div #container
      id="mapa-box"
      class="map"
      style="width: 100%; height: 94vh;"></div>
  </div>
</ion-content>
