<ion-header color="primary">
  <ion-toolbar>
    <ion-title>explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Event Name</ion-card-title>
            <div class="ion-align-items-center flex gap-2 mt-2">
              <ion-icon name="location-outline"
                slot="start"></ion-icon>
              <ion-card-subtitle>IT Francis</ion-card-subtitle>
            </div>
          </ion-card-header>

          <ion-card-content>
            <p>Sept 20, 2024 - <span>10:00PM</span></p>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>

          <ion-button fill="clear">
            <ion-icon slot="start"
              name="thumbs-up-outline"></ion-icon>
            20
          </ion-button>
          <ion-button fill="clear">
            <ion-icon slot="start"
              name="bookmark-outline"></ion-icon>
            12
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
